# ============================
# Telegram Integration
# ============================
# O Token do bot que irá realizar os envios (Sem o "bot" na frente)
TELEGRAM_BOT_TOKEN="seu_token_aqui_como_string"

# O ID único (-100...) ou Username público (@...) do grupo/canal
TELEGRAM_CHAT_ID="id_ou_username"

# Se utilizar tópicos e não no chat principal, colocar o ID aqui
TELEGRAM_TOPIC_ID="id_do_topico"
